# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Node / Frontend
node_modules/
dist/
.vite/
*.local

# Editores / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Banco / dados locais
*.sqlite3
*.db
data/

# Logs
*.log
